
.calida_link{
    width: 50%;
}
.link_div_1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.left_link{
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}
.right_link{
    width: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}
.grater img{
    height: 15px;
}
.links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.link_div_1 h3:hover{
        color: brown;
        transition: 0.3s ease-in-out;
}