
.footer_links h3{
    color: white;
    padding-bottom: 20px;
    font-size: 20px;
}
.footer_links a{
    padding-bottom: 16px;
    display: block;
    color: #929292;
    text-decoration: none;
    font-size: 16px;
}
.other_link h3{
    color: black;
}

.menu_link a:hover{
    color: white;
}