.card_desc h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 16px;
}
.card_desc {
    padding: 16px 0 0;
}
.card_desc p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 600;
}
.card_link {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 32px 0 0;
}
.card_link img {
    height: 15px;
    width: 15px;
}
.card_image img {
    height: 230px;
    border-radius: 10px;
}
.slider-container{
    padding-top: 100px;
    padding-left: 330px;
    overflow: hidden;
}
.slick-slide{
    padding: 10px;
}

.slick-list{
    margin: -10px;
}
.right{
    height: 50px;
    width: 50px;
    /* background-color: black; */
    border-radius: 50%;
    margin-left: 1200px;
}
.left{
    height: 50px;
    width: 50px;
    /* background-color: black; */
    border-radius: 50%;
}