.footer_main {
    background-color: black;
    padding: 110px 0;
}

.logo_info {
    display: flex;

}

.f_logo {
    width: 50%;
}

.info {
    width: 50%;
}

.email_reg input{
    border: none;
}
.email_reg ::placeholder{
    color: white;
    font-size: 14px;
}
.f_logo h3 {
    padding-bottom: 50px;
    color: white;
}

.social_icon {
    display: flex;
    gap: 20px;
}

.social_icon img {
    height: 30px;
    background-color: white;
}

.info h3 {
    color: white;
    font-size: 28px;
    padding-bottom: 20px;
}

.info p {
    color: #929292;
    font-size: 18px;
}

.email_reg {
    display: flex;
    padding-top: 50px;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-end;
}

.email_reg input {
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 5px;
}

.email_reg button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #FFC123;

}

.footer_links {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(63, 63, 70, 1);
}

.footer_calida_link {
    padding: 80px 0;
    border-bottom: 1px solid rgba(63, 63, 70, 1);
}

.footer_calida_heading h3 {
    font-size: 30px;
    color: #929292;
    font-weight: 600;
    padding-bottom: 32px;
}

.calida_title {
    color: white;
    padding-bottom: 30px;
}

.calida_links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.calida_links h3 {
    display: none;
}

.calida_links a {
    padding-bottom: 16px;
    display: block;
    color: #929292;
    text-decoration: none;
    font-size: 16px;
}

.blanca_links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: flex-start;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.blanca_links a {
    padding-bottom: 16px;
    display: block;
    color: #929292;
    text-decoration: none;
    font-size: 16px;
}
.blanca_links h3 {
    display: none;
}
.notice_main{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
.notice a{
    color: #929292;
    text-decoration: none;
}
.com_logo{
    display: flex;
    gap:18px;
}
.com_logo img{
    height: 25px;
}